:root {
    --color-primary-strong-cyan: hsl(171, 66%, 44%);
    --color-primary-light-blue: hsl(233, 100%, 69%);
    --color-neutral-dark-grayish-blue: hsl(210, 10%, 33%);
    --color-neutral-grayish-blue: hsl(201, 11%, 66%);
    --color-background: #fff;
    --font-family: "Bai Jamjuree", sans-serif;
    --font-size-base: 18px;
    --spacing-base:  2rem 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    font-weight: 400;
    color: var(--color-neutral-dark-grayish-blue);
    background-color: var(--color-background);
    margin: 0 auto;
}

.header {
    padding: 5.2rem 0;
    background: url('./images/bg-header-desktop.png') repeat;
}

.header__logo {
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
}

.main-content {
    /* padding: var(--spacing-base); */
}

.intro {
    text-align: center;
    margin-bottom: 5rem;
}

.intro__title {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
    
}

.intro__description {
    max-width: 48%;
    margin: 0 auto;
    font-size: 1.2rem;
    color: var(--color-neutral-grayish-blue);
    margin-bottom: 2.5rem;
}

.intro__buttons .btn,
.downloads__action .btn{
    display: inline-block;
    padding: 0.75rem 1.5rem;
    margin: 0.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: var( --color-primary-light-blue);
    text-decoration: none;
    border-radius: 5rem;
    transition: background-color 0.3s;
}

.intro__buttons .btn--ios,
.downloads__action .btn--ios{
    background-color: var(--color-primary-strong-cyan);
}

.intro__buttons .btn:hover,
.downloads__action .btn:hover {
    background-color: #333;
}

.features {
    text-align: center;
    margin-bottom: 2rem;
}

.features__title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.features__description {
    font-size: 1.2rem;
    max-width: 53%;
    margin: 0 auto;
    margin-bottom: 5rem;
    color: var(--color-neutral-grayish-blue);
}
.features__block {
    display: flex;
    gap: 5rem;
    overflow-x: clip;
}
.features__list {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.feature {
    width: 100%;
    max-width: 21rem;
    padding: var(--spacing-base);
    text-align: start;
}

.image {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-left: -2rem;
    /* background-size: 0%; */
}
.feature__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;

}

.feature__description {
    font-size: 1rem;
    color: var(--color-neutral-grayish-blue);
}

.access {
    text-align: center;
    margin-bottom: 2rem;
}

.access__title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.access__description {
    font-size: 1.2rem;
    color: var(--color-neutral-grayish-blue);
    max-width: 53%;
    margin: 0 auto;
    padding-bottom: 4rem;
}

.access__image {
    width: 100%;
    max-width: 31.25rem;
}

.workflow, .downloads {
    text-align: center;
    margin-bottom: 2rem;
}

.workflow__title,
.downloads__title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.workflow__features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.workflow__feature {
    width: 100%;
    max-width: 300px;
    padding: var(--spacing-base);
    text-align: center;
}

.workflow__image {
    width: 3.5rem;
    height: 2rem;
    margin-bottom: 1rem;
}
.workflow__description,
.downloads__description {
    font-size: 1rem;
    color: var(--color-neutral-grayish-blue);
    line-height: 1.7;
}
.partners__list {
    display: flex;
    list-style-type: none;
    gap: 3.5rem;
    justify-content: center;
    margin-bottom: 2rem;
}
.downloads__description {
    max-width: 43%;
    margin: 0 auto;
    padding-bottom: 1rem;
}
.downloads__action {
    padding-bottom: 3rem;
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--spacing-base);
    background-color: #f5f5f5;
}
.footer__logo img{
    width: 3rem;
    height: 3rem;
}
.footer__info, .footer__social {
    list-style-type: none;
    display: inherit;
}
.footer__info {
    flex-wrap: wrap;
    max-width: 20rem;
}
.footer__info li a {
    display: inline-block;
    margin: 0.5rem;
    font-size: 1rem;
    color: var(--color-neutral-dark-grayish-blue);
    text-decoration: none;
    transition: color 0.3s;
}
.footer__info a:hover {
    color: var(--color-primary-strong-cyan);
}
.footer__social {
    gap: 2rem;
}
ion-icon {
    color: #333;
    font-size: 1.7rem;
}
@media (min-width: 375px) {
    .features__list, .workflow__features {
        flex-direction: row;
    }

    .feature, .workflow__feature {
        /* width: calc(33.333% - .5rem); */
        margin: 1rem;
    }
}
